*
!include*
!include/**/*
!src*
!src/**/*
!python*
!python/**/*
!documentation*
!documentation/**/*
!scripts*
!scripts/**/*
!test*
!test/**/*
!.gitignore
!CMakeLists.txt
!README.md
!sbox-database.json
